
.PageEvent .breadcrumb {
	margin-top: 64px;
}

.PageEvent article {
	margin-bottom: 96px;
}

.PageEvent article h4 {
	margin: 32px 0px 20px 0px;
}

.PageEvent article h5 {
	margin: 8px 0px 8px 0px;
}

.PageEvent article .cover img {
	width: 100%;
	border-radius: 12px;
	margin: 32px 0px;
}

.PageEvent article .publication-date {
	text-align: right;
	margin-bottom: 24px;
}

.PageEvent article .publication-date .date {
	margin-top: 12px;
}

.PageEvent article .content-media {
	margin: 48px auto;
	text-align: center;
	display: flex;
  	justify-content: center;
}

.PageEvent article .content-media iframe {
	max-width: 100%;
}

.PageEvent article .content-media p {
	margin: 0 !important;
}

.PageEvent .side-info .grey-horizontal-bar {
	margin: 32px 0px;
}

.PageEvent .side-info .blue-text {
	margin-bottom: 16px;
}

.PageEvent .side-info .social-media-links {
	width: 100%;
	margin-top: 8px;
}

.PageEvent .side-info .social-media-links .TwitterLink,
.PageEvent .side-info .social-media-links .LinkedInLink {
	display: inline-block;
}

.PageEvent abstract {
	font-size: 18px;
	margin: 15px 0px;
}
