
#PageUpcomingEvents .top-content {
	position: relative;
	padding: 64px 0px;
}

#PageUpcomingEvents .text-content {
	margin-bottom: 32px;
}

@media (min-width: 768px) {
	#PageUpcomingEvents img.logo {
		height: 100%;
	}
}
