
#PageLegal .top-content {
	background: var(--linear-blue);
	padding: 60px 0px;
	margin-bottom: 64px;
}

#PageLegal .vertically-centered h6 {
	width: 100%;
	margin-bottom: 12px;
}

#PageLegal .list-content .h8 {
	margin: 8px 0px;
}

#PageLegal .list-content span.h8 {
	margin-right: 8px;
}

#PageLegal .DynamicTable {
	margin: 40px 0px;
}

#PageLegal .filter-box .right-buttons {
	margin-top: 0px;
}

#PageLegal .filter-box .right-buttons button {
	padding: 2px !important;
	color: var(--text-neutral-50) !important;
	text-decoration: underline;
	font-size: 14px;
}

#PageLegal .list-separator {
	margin-bottom: 48px;
}