
#PagePublications .top-content {
	background: var(--linear-blue);
	padding: 60px 0px;
	margin-bottom: 64px;
}

#PagePublications .vertically-centered h6 {
	width: 100%;
	margin-bottom: 12px;
}

#PagePublications .list-content .h8 {
	margin: 8px 0px;
}

#PagePublications .list-content span.h8 {
	margin-right: 8px;
}

#PagePublications .DynamicTable {
	margin: 40px 0px;
}

#PagePublications .list-separator {
	margin-bottom: 48px;
}