.ArticleContent {
    position: relative;
    min-height: 150px;
}

.ArticleContent article {
    margin-bottom: 2.5rem;
}

.ArticleContent article h3 {
    margin: 1.5rem 0 1rem;
}

.ArticleContent article h4 {
    margin-bottom: 1rem;

    &.title {
        margin: 1rem 3rem 2.5rem 0;
    }
}

.ArticleContent article h5 {
    margin: 0.5rem 0;
}

.ArticleContent .abstract {
    font-size: 1.125rem;
    margin: 1rem 1.125rem 1.5rem;
}

.ArticleContent article .abstract {
    margin-left: 1.125rem;
}

.ArticleContent article .content {
    margin-left: 1.125rem;
}

.ArticleContent article .cover img {
    width: calc(100% - 4rem);
    border-radius: 12px;
    margin: 0 2rem 1rem;
}

.ArticleContent article .publication-date {
    text-align: right;
    margin-bottom: 1.5rem;
}

.ArticleContent article .publication-date .date {
    margin-top: 0.750rem;
}

.ArticleContent article .content-media {
    display: flex;
    justify-content: center;

    margin: 3rem auto;
    text-align: center;
}

.ArticleContent article .content-media p {
    margin: 0 !important;
}

.ArticleContent .side-info .grey-horizontal-bar {
    margin: 2rem 0;
}

.ArticleContent .side-info .blue-text {
    margin-bottom: 1rem;
}

.ArticleContent .loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--gray-dark);
}