
.EventBig {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin-bottom: 32px;
    border: none;
}

.EventBig .link {
    padding: 24px;
}

.EventBig a:hover {
    text-decoration: none !important;
}

.EventBig .link {
    color: inherit;
}

.EventBig .card-body {
    padding-right: 0px !important;
    padding-left: 0px;
    padding-bottom: 0px !important;
}

.EventBig .card-img-wrapper {
    min-height: 150px;
    position: relative;
}

.EventBig .card-img-wrapper img,
.EventBig .NoImage {
    border-radius: 12px;
    height: 289px !important;
    object-fit: cover;
}

.EventBig .card-date {
    color: var(--primary-blue-80);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.EventBig .card-title {
    height: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--text-neutral-50);
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 8px;
}

.EventBig .card-text {
    height: 68px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.EventBig button {
   float: right;
}