
.News {
    margin: 0px 24px 32px 0px !important;
    padding: 16px;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.News:hover {
    background-color: #f2fbff;
}

.News .link {
    color: inherit;
}

.News .link:hover {
    color: initial !important;
    text-decoration: none;
}

.News .card-img-wrapper {
    min-height: 150px;
    position: relative;
}

.News .card-date {
    position: absolute;
    background: #009fe3;
    text-align: center;
    font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px;
    color: #fff;
    bottom: 0;
    right: 10px;
    text-transform: uppercase;
}

.News .card-type {
    position: absolute;
    background: #e40613;
    text-align: center;
    font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px;
    color: #fff;
    top: 0;
    left: 10px;
    text-transform: uppercase;
}

.News .card-text {
    line-height: 1.2;
    margin-bottom: 15px;
}