
#PageLandingCatch {
	position: relative;
	height: calc(100vh - 100px);
	max-height: 800px;
}

#PageLandingCatch .content {
	padding-top: 8vh;
}

#PageLandingCatch .title {
	font-family: "Open Sans 800";
	color: var(--text-neutral-50);
	margin-bottom: 16px;
	font-style: normal;
	font-size: 48px;
	line-height: 120%;
}

#PageLandingCatch .catch-phrase {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
}

#PageLandingCatch .buttons {
	margin-top: 32px;
}

#PageLandingCatch button {
	width: 100%;
	margin-top: 14px;
	margin-bottom: 14px;
}

#PageLandingCatch .skyline {
	width: 100%;
	position: absolute;
	bottom: 10px;
	text-align: center;
}

#PageLandingCatch .skyline img {
	width: 100%;
	margin: auto;
	max-width: 1440px;
}

#PageLandingCatch .alerts {
	position: absolute;
	right: 10px;
	bottom: -320px;
	background: var(--secondary-red-80);
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
	border-radius: 12px;
	width: 500px;
	height: 200px;
}

#PageLandingCatch .alerts-wrapper {
	position: relative;
}

#PageLandingCatch .alerts .alert-box {
	width: 100%;
}

@media (min-width: 768px) {
    #PageLandingCatch .catch-phrase {
		max-width: 70%;
	}
}