
.BoxCount {
	padding: 14px;
	margin-bottom: 24px;

	/* Base/White */

	background: var(--text-neutral-0);

	/* Cards main drop shadow */

	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
	border-radius: 12px;
}

.BoxCount .label {
	margin-top: 64px;
}

.BoxCount .count {
}