
#PageSupportForStartupsLaunchpadLux {
	padding: 40px 0;
}

#PageSupportForStartupsLaunchpadLux .title {
	background: var(--linear-blue);
	padding: 78px 70px 78px 70px;
	border: 1px solid #E5F5FF;
	border-radius: 24px;
	height: 100%;
}

#PageSupportForStartupsLaunchpadLux .box i {
	font-size: 42px;
	color: var(--primary-blue-80);
}

.card-link {
  all: unset;
  display: block;
  cursor: pointer;
  outline: revert;
  outline-offset: revert;
}

.card-link:hover {
  color: inherit;
}

.card-link:focus-visible {
  outline: 2px solid #000;
  border-radius: 12px;
  outline-offset: -2px;
}

.card-link:focus:not(:focus-visible) {
  outline: none;
}