
.Chip {
    position: relative;
    display: inline-block;
    border-radius: 2000px;
    border: 1px solid var(--accent-blue, #33ADFF);
    background: var(--text-neutral-white, #FFF);
    color: var(--text-neutral-50, #232332);
    padding: 6px 12px;
    margin: 3px 2px 1px 2px;
    font-family: "Open Sans 600", sans-serif;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    border-radius: 16px;
    text-decoration: none;
    max-width: 100%;
    line-height: 1;
}

.Chip-head {
    position: absolute;
    overflow: hidden;
    background-color: var(--accent-blue, #33ADFF);
    flex-shrink: 0;
    align-items: center;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
    width: 18px;
    color: #fff;
    height: 18px;
    font-size: 12px;
    text-align: center;
    padding-top: 3px;
}

.Chip-content {
    cursor: inherit;
    align-items: center;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 4px;
    padding-left: 28px;
    padding-right: 25px;
    width: 100%;
    height: 18px;
    font-size: 12px;
}

.Chip-close {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    fill: currentColor;
    font-size: 12px;
}

.Chip-close:hover {
    color: #ffa8b0;
}

.Chip-link-wrapper:hover {
    cursor: pointer;
    color: #e40613;
}